*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#091321;

    overflow:hidden;

    color:white;
}

.background{

    position:fixed;
    inset:0;

    background:
            radial-gradient(circle at 15% 20%,#4766ff55,transparent 25%),
            radial-gradient(circle at 90% 90%,#00ffd555,transparent 25%),
            linear-gradient(135deg,#091321,#15253d,#0d1a2e);

}

.wrapper{

    position:relative;
    z-index:2;

    width:1200px;
}

.title{

    text-align:center;

    margin-bottom:70px;
}

.title i{

    font-size:55px;
    margin-bottom:20px;
}

.title h1{

    letter-spacing:12px;

    font-weight:300;

    font-size:52px;
}

.title h2{

    margin-top:10px;

    font-weight:300;

    color:#d0d7e4;
}

.line{

    width:90px;

    height:3px;

    margin:30px auto;

    background:linear-gradient(to right,#7f5cff,#00e6d0);
}

.title p{

    font-size:20px;

    color:#d2d8e3;
}

.cards{

    display:flex;

    gap:40px;
}

.card{

    flex:1;

    text-decoration:none;

    color:white;

    padding:45px;

    border-radius:24px;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.2);

    backdrop-filter:blur(15px);

    transition:.35s;

    display:flex;

    flex-direction:column;

    align-items:center;
}

.card:hover{

    transform:translateY(-12px);

    background:rgba(255,255,255,.12);

    box-shadow:0 20px 40px rgba(0,0,0,.4);
}

.icon{

    width:90px;

    height:90px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:38px;

    margin-bottom:30px;
}

.purple{

    background:linear-gradient(135deg,#7367ff,#8d8dff);
}

.green{

    background:linear-gradient(135deg,#00d2b3,#49f5dc);
}

.blue{

    background:linear-gradient(135deg,#3498ff,#5cb8ff);
}

.card h3{

    font-size:36px;

    margin-bottom:12px;
}

.card span{

    letter-spacing:4px;

    color:#7fe8ff;

    font-size:14px;
}

.separator{

    width:55px;

    height:2px;

    background:#5dd9ff;

    margin:24px 0;
}

.card p{

    text-align:center;

    line-height:2;

    color:#d4dae5;

    margin-bottom:40px;
}

.arrow{

    width:65px;

    height:65px;

    border-radius:50%;

    border:1px solid #58cfff;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

    transition:.3s;
}

.card:hover .arrow{

    background:#58cfff;

    color:#091321;

    transform:translateX(8px);
}